.clearfix
  != form.label("name")
  .input
    != form.input("name")
.clearfix
  != form.label("address")
  .input
    != form.input("address")
.clearfix
  != form.label("phone")
  .input
    != form.input("phone")
.clearfix
  != form.label("website")
  .input
    != form.input("website")
.clearfix
  != form.label("type")
  .input
    != form.input("type")
